.home-page {
  margin: 2rem 5rem 6rem 5rem;
}

h1 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 2.5rem;
  margin-top: 3rem;
}

@media screen and (max-width: 950px) {
  .home-page {
    margin: 1rem 2rem 4rem 2rem;
  }
}
@media screen and (max-width: 780px) {
  .home-page {
    margin: 1rem 2rem 4rem 2rem;
  }
}

@media screen and (max-width: 650px) {
  .home-page {
    margin: 1rem 2rem 4rem 2rem;
  }
}
@media screen and (max-width: 550px) {
  .home-page {
    margin: 1rem 2rem 4rem 2rem;
  }
}
@media screen and (max-width: 400px) {
}
